.btnmd button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: none;
    color: $footer-color;
    background-color: $color-bleu;
    padding: 8px 184px;
    border: 1px solid $color-bleu;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  .btnmd button:hover{
      color: $footer-color;
      background-color: $color-ciel;
  }