*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'cairo';
    list-style-type: none;

  }
  nav{
   background-image: url("/Design/Assets/png/Merged bar-9.png");
    height: 80px;
    width: 100%;
   
    .arabic{
        color: $color-bleu;
        border: 1.5px solid $color-bleu;
                padding: 0.3em 1em;
                border-radius: 10px;

    }
    .fas {
        color: $color-yellow;
    }
    ul{
        float: right;
        margin-right: 20px;
        li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;

           
            
            a{
                color:  $color-dark;
                font-size: 17px;
                padding: 7px 13px;
                font-weight: bold;
                
                
               
            }
          }
      }
  }
  a.active{
    color:$color-bleu;
}
.infoMedicale{
    background: $color-yellow;
    &__title{
        text-transform: uppercase;
        margin-left: 465px;
        
    }

    &__parag{
        text-align: center;
        color:$color-bleu;
        font-size: 13px;
    }
}