.heroHeader{
    display: flex;
   
    &__left{
        margin:40px 0px 0px 10px;
    }
    &__right{
        &--title{
            text-align: center;
            font-size: 26px;
            color: $color-bleu;
            margin-top: 40px;
        }
        &--img img{
            display: block;
            margin: auto;
           
        }
        &--para{
            text-align: center;
            color: $color-grey;
            font-size: 25px;
            font-weight: 900;
        }

    }


}
.symptomes {
    margin-top: 10em;
    width: 50%;
    margin: 0 auto;

    &__title{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: bold;
        color: $color-bleu;
    }


    &__flex {
        width: 700px;
        text-align: center;
        margin: auto;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__list {
            max-width: 50%;
            margin-top: 20px;
           
        }



        h5 {
            font-size: 1.2em;
            text-align: center;

        }


    }
}